<%
  model = options[:model]
  form  = options[:form]
  name  = options[:name]
  type  = options[:type]||:text_field

  group_class_list = [ 'form-group',    options[:group_class] ]
  label_class_list = [ 'control-label', options[:label_class]||'col-xs-2'  ]
  field_class_list = [ 'input-group',   options[:field_class]||'col-xs-10' ]
  error_class_list = [ 'text-danger',   options[:error_class]||'col-xs-offset-2 col-xs-10' ]
  group_class_list << 'has-error' if model.errors[name].present?

  group_class = group_class_list.flatten.join ' '
  label_class = label_class_list.flatten.join ' '
  field_class = field_class_list.flatten.join ' '
  error_class = error_class_list.flatten.join ' '

  label_text = options[:label]
  prefix     = options[:prefix]
  suffix     = options[:suffix]

  field_options = {
      disabled:    options[:disabled],
      class:       'form-control',
      placeholder: options[:placeholder],
      readonly:    options[:readonly],
      maxlength:   options[:maxlength],
      required:    options[:required]
    }
%>

<div class='<%= group_class %>'>

  <% if label_text.present? %>
    <%= form.label name, class: label_class do %><%= label_text %><% end %>
  <% else %>
    <%= form.label name, class: label_class %>
  <% end %>

  <div class='<%= field_class %>'>
    <% if prefix.present? %>
      <span class='input-group-addon'><%= prefix %></span>
    <% end %>

    <%= form.send type, name, field_options %>

    <% if suffix.present? %>
      <span class='input-group-addon'><%= suffix %></span>
    <% end %>
  </div>

  <% if model.errors[name].present? %>
    <p class='<%= error_class %>'><%= model.errors[name].first %></p>
  <% end %>

</div>
