<%
  model = options[:model]
  form  = options[:form]
  name  = options[:name]

  group_class_list = [ 'form-group',    options[:group_class] ]
  label_class_list = [ 'control-label', options[:label_class] ]
  field_class_list = [ 'input-group',   options[:field_class] ]
  input_class_list = [ 'form-control',  options[:input_class] ]
  error_class_list = [ 'text-danger',   options[:error_class] ]
  group_class_list << 'has-error' if model.errors[name].present?

  group_class = group_class_list.flatten.join ' '
  label_class = label_class_list.flatten.join ' '
  field_class = field_class_list.flatten.join ' '
  input_class = input_class_list.flatten.join ' '
  error_class = error_class_list.flatten.join ' '

  label_text = options[:label_text]
  prefix     = options[:prefix]
  suffix     = options[:suffix]

  input_options = {
      class:    input_class_list,
      disabled: options[:disabled],
      readonly: options[:readonly]
    }

  error_hidden = options[:error_hidden]

  choices = options[:choices]
  flags   = options[:options]||{}
%>

<div class='<%= group_class %>'>

  <% if label_text.present? %>
    <%= form.label name, class: label_class do %><%= label_text %><% end %>
  <% else %>
    <%= form.label name, class: label_class %>
  <% end %>

  <% if prefix.present? || suffix.present? %>

    <div class='<%= field_class %>'>
      <% if prefix.present? %>
        <span class='input-group-addon'><%= prefix %></span>
      <% end %>

      <%= form.select name, choices, flags, input_options %>

      <% if suffix.present? %>
        <span class='input-group-addon'><%= suffix %></span>
      <% end %>
    </div>

  <% else %>

    <%= form.select name, choices, flags, input_options %>

  <% end %>

  <% if model.errors[name].present? && !error_hidden %>
    <p class='<%= error_class %>'><%= model.errors[name].first %></p>
  <% end %>

</div>
